{{ define "breadcrumb" }}


{{ end }}

{{define "content"}}
    <br>
    <div class="ui container">
        <div class="ui message">
            <h3 class = "ui header"> Hi There!</h3>
            <p>
                Everthing is cool!
            </p>
        </div>
    </div>




{{end}}


{{define "sidebar"}}

{{end}}

{{define "scripts"}}

{{end}}
