<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Go</title>

		<link rel="stylesheet" href="/static/semantic.min.css">

	</head>

	<body>
        <div class= "ui container">
            <div class="ui menu">
              <div class="header item">Go</div>

              <div class="right menu">
                <a class="item" href = "/user/login">Login</a>
                <a class="item" href = "/user/signup">Sign Up</a>
              </div>
            </div>
        </div>
		{{template "content" .}}
		{{template "sidebar" .}}

		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
		<script src="/static/semantic.js"></script>
        <script type="text/javascript">
            $('.ui.dropdown').dropdown();
        </script>

		{{template "scripts" .}}
	</body>
</html>
