{{ define "breadcrumb" }}

{{ end }}

{{define "content"}}
    <br>
    <div class="ui container">
        <form class="ui form" action="/user/signup" method="post">
            <div class="field">
                <label for="">Handle</label>
                <input type="text" name="handle" value="" placeholder="Handle">
            </div>
            <div class="field">
                <label for="">Password</label>
                <input type="password" name="password" value="" placeholder="Password">
            </div>
            <div class="ui buttons">
                <button class = "ui positive button" type="submit" name="submit">Submit</button>
                <div class="or"></div>
                <button class = "ui button" type="reset" name="reset">Reset</button>
            </div>

        </form>
    </div>

{{end}}


{{define "sidebar"}}

{{end}}

{{define "scripts"}}

{{end}}
